name: Doxygen Documentation

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate Doxygen
        uses: mattnotmitt/doxygen-action@edge
        with:
          doxyfile-path: "Doxyfile"

      - name: Copy assets to docs
        run: |
          mkdir -p docs/assets
          cp -r assets/* docs/assets/
          sudo chown -R $USER:$USER docs
          mkdir -p docs/html/assets
          cp -r assets/* docs/html/assets/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/html
          publish_branch: gh-pages
